@{
    ViewBag.Title = "Home Page";
}

<style> 

    form {
        margin-top: 1%;
    }

    input {
        width: 30%;
    }

</style>

<div class="navbar">
    <div class="form-horizontal" style="margin-left: 30%;">
        <form action="http://localhost:61185/Account/Deposite">
            <input type="submit" value="Deposite money" class="btn btn-primary"/>
        </form>
        <form action="http://localhost:61185/Account/Withdraw">
            <input type="submit" value="Withdraw money" class="btn btn-primary" />
        </form>
        <form action="http://localhost:61185/Account/Transfer">
            <input type="submit" value="Transfer" class="btn btn-primary" />
        </form>
        <form action="http://localhost:61185/Account/OpenAccount">
            <input type="submit" value="Open new account" class="btn btn-primary" />
        </form>
        <form action="http://localhost:61185/Account/Close">
            <input type="submit" value="Close account" class="btn btn-primary" />
        </form>
    </div>
</div>

