@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Belarus Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    88005553555
</address>

<address>
    <strong>Have some problems with app?:</strong>   <a href="mailto:Support@example.com">dybovik.mikita@gmail.com</a><br />
</address>